# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Ambiente Virtual
venv/
.venv/
env/

# Django
db.sqlite3
*.log
media/
staticfiles/

# Variáveis de ambiente
.env
.env.*

# IDEs
.vscode/
.idea/
*.sublime-workspace

# Arquivos temporários
*.tmp
*.bak

# OS
.DS_Store
Thumbs.db
